---
import { Image } from '@astrojs/image/components';

interface Item {
  title: string;
  position?: string;
  timeline?: string;
  description?: string;
  // eslint-disable-next-line
  image?: ImageMetadata;
}

export interface Props {
  title?: string;
  position?: string;
  timeline?: string;
  items: Array<Item>;
  image?: string | any;
}

const { title = await Astro.slots.render('title'), items = [] } = Astro.props;
---

<section class="flex justify-center px-4 sm:px-20 mx-auto max-w-3xl">
  <div class="grid gap-6">
    <div class="md:py-4 md:pr-16 mb-4 ml-8 md:mb-0">
      {title && <h2 class="mb-5 text-2xl lg:text-4xl font-bold font-heading text-white" set:html={title} />}
      {
        items &&
          items.length &&
          items.map(({ title, description, image, position, timeline }, index) => (
            <div class="flex">
              <div class="flex flex-col items-center mx-3">
                <div class="flex items-center justify-center w-10 h-10 ">
                  <div class="flex flex-col content-center items-center space-y-1">
                    {image && <Image src={image} alt={`image_${index}`} class={'w-10 h-10'} />}
                    {timeline && (
                      <p
                        class="mb-2 text-[9px] font-semibold dark:text-slate-300 whitespace-nowrap"
                        set:html={timeline}
                      />
                    )}
                  </div>
                </div>
                <div class="w-px h-full dark:bg-slate-500 my-2" />
              </div>
              <div class={`ml-1 ${index !== items.length - 1 ? 'pb-8' : ''}`}>
                <div class={`${position != null ? 'flex flex-col mb-1 -space-y-3' : ''}`}>
                  {title && <p class="mb-2 text-l font-bold dark:text-slate-300" set:html={title} />}
                  {position && <p class="mb-2 text-xs font-semibold dark:text-slate-300" set:html={position} />}
                </div>
                {description && <p class="text-sm dark:text-slate-400" set:html={description} />}
              </div>
            </div>
          ))
      }
    </div>
  </div>
</section>
